<volist name="group_list" id="group">
    <if condition="$i eq 1">
        {$group.group_title} 1
        <else/>
        {$group.group_title} 2
    </if>
</volist>

<volist name="setting_group_list" id="setting_list" key="index">
    <br/>---{$index}---<br/>
    <volist name="setting_list" id="setting">
        <div style="border: 1px solid #EEEEEE;padding: 2rem;margin: 2rem;">
        setting_id: {$setting.setting_id} <br/>
        key: {$setting.key} <br/>
        value: {$setting.value} <br/>
        title: {$setting.title} <br/>
        type_id: {$setting.type_id} <br/>
        group_id: {$setting.group_id} <br/>
        option_list: {$setting.option_list} <br/>
        group_title: {$setting.group_title} <br/>
        type_title: {$setting.type_title} <br/>
        </div>
    </volist>
</volist>