<extend name="Layout/Back"/>
<block name="content">
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button class="btn btn-primary" title="" data-toggle="tooltip" form="form-setting" type="submit" data-original-title="保存"> <i class="fa fa-save"></i>
                    </button>
                    <a class="btn btn-default" title="" data-toggle="tooltip" href="http://php.kang.com/test/s/admin/index.php?route=setting/store&amp;token=8qLqiUzfLtLyiUkqAmSQizqIbLYbeUCm" data-original-title="取消"> <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>系统设置</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="http://php.kang.com/test/s/admin/index.php?route=common/dashboard&amp;token=8qLqiUzfLtLyiUkqAmSQizqIbLYbeUCm">首页</a>
                    </li>
                    <li>
                        <a href="http://php.kang.com/test/s/admin/index.php?route=setting/store&amp;token=8qLqiUzfLtLyiUkqAmSQizqIbLYbeUCm">商店</a>
                    </li>
                    <li>
                        <a href="http://php.kang.com/test/s/admin/index.php?route=setting/setting&amp;token=8qLqiUzfLtLyiUkqAmSQizqIbLYbeUCm">系统设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        编辑系统设置
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="form-setting" enctype="multipart/form-data" method="post" action="{:U('Back/System/update')}">
                        <ul class="nav nav-tabs">
                            <!--<volist name="group_list" id="group">-->
                                <!--<if condition="$i eq 1">-->
                                    <!--<assign name="openthedoor" value="true"/>-->
                                    <!--<li class="active">-->
                                    <!--<else/>-->
                                        <!--<assign name="openthedoor" value="false"/>-->
                                    <!--<li>-->
                                <!--</if>-->
                                    <!--<a data-toggle="tab" href="#tab-{$group.setting_group_id}" aria-expanded="{$openthedoor}">{$group.group_title}</a>-->
                                <!--</li>-->
                            <!--</volist>-->
                            <volist name="group_list" id="group">
                            <li class="<if condition='$i eq 1'>active</if>">
                            <a data-toggle="tab" href="#tab-{$group.setting_group_id}" aria-expanded="<if condition='$i eq 1'> true <else/> false </if>">{$group.group_title}</a>
                            </li>
                            </volist>
                        </ul>
                        <div class="tab-content">
                            <volist name="setting_group_list" id="settings" key="index">
                                <div id="tab-{$index}" class="tab-pane <if condition='$index eq 1'>active</if>">
                                    <volist name="settings" id="setting">
                                        <div class="form-group">
                                            <label for="{$setting.key}" class="col-sm-2 control-label">{$setting.title}</label>
                                            <div class="col-sm-10">
                                                <if condition="$setting.type_title eq 'textarea'">
                                                    <textarea class="form-control" id="{$setting.key}" placeholder="附言" rows="5" name="setting[{$setting.setting_id}]" setting_id="{$setting.setting_id}">{$setting.value}</textarea>
                                                <elseif condition="$setting.type_title eq 'select'" />
                                                    <select class="form-control" id="{$setting.key}" name="setting[{$setting.setting_id}]" setting_id="{$setting.setting_id}">
                                                        <volist name="setting.option_format" id="option">
                                                            <option value="{$option[0]}" <if condition="$option[0] eq $setting['value']">selected="selected"</if> >{$option[1]}</option>
                                                        </volist>
                                                    </select>
                                                <elseif condition="$setting.type_title eq 'radio'"/>
                                                    <volist name="setting.option_format" id="option">
                                                        <label class="radio-inline">
                                                            <input type="radio" value="{$option[0]}" name="setting[{$setting.setting_id}]" setting_id="{$setting.setting_id}" <if condition="$option[0] eq $setting['value']">checked="checked"</if>>
                                                            {$option[1]}
                                                        </label>
                                                    </volist>
                                                <elseif condition="$setting.type_title eq 'checkbox'"/>
                                                    <div style="height: 150px; overflow: auto;" class="well well-sm">
                                                        <volist name="setting.option_format" id="option">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" <if condition="in_array($option[0], $setting['value_format'])">checked='checked'</if> value="{$option[0]}" name="setting[{$setting.setting_id}][]" setting_id="{$setting.setting_id}">
                                                                    {$option[1]}
                                                                </label>
                                                            </div>
                                                        </volist>
                                                    </div>
                                                <else/>
                                                    <input type="text" class="form-control" id="{$setting.key}" placeholder="Meta标题" value="{$setting.value}" name="setting[{$setting.setting_id}]" setting_id="{$setting.setting_id}">
                                                </if>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                            </volist>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('input,select,textarea').on('change', function(){
                var url = '{:U("Back/System/updateOne")}';
                var data = {
                    'setting_id': $(this).attr('setting_id'),
                    'value': $(this).val()
                };
                if($(this).attr('type') == 'checkbox') {
                    var nameStr = $(this).attr('name');
                    var dataList = [];
                    $('input[name="'+ nameStr +'"]:checked').each(function (i) {
                        dataList[i] = $(this).val();
                    });
                    data.value = dataList.join(',');
                }
                $.ajax({
                    url: url,
                    data: data,
                    method: 'post',
                    success: function (data) {
                        if(data.error != 0 ){
                            console.warn('更新失败');
                        } else {
                            console.info('更新成功');
                        }
                    }
                });
            });
        });
    </script>
</block>

